@{ ViewBag.Title = "Redactor";
    ViewBag.IsWebpack = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/bundles/redactorBundle.css" type="text/css" />
<link rel="stylesheet" href="~/libs/jstree/dist/themes/default/style.css" type="text/css" />

@section scripts{
    <script src="~/bundles/redactorBundle.js"></script>
}

<div class="redactor-container">
    <div class="card mb-2">
        <div class="mb-2">Перечисления</div>
        <div>
            <input class="enums-name form-control col-6 mb-1"
                   placeholder="Введите название перечисления" />
        </div>
        <div class="d-flex mb-1">
            <input class="enums-input form-control col-6"
                   placeholder="Введите новое перечисление через запятую" />
            <button type="button"
                    class="enums-button-input ml-1 btn btn-outline-primary">
                Добавить
            </button>
        </div>
    </div>
    <div id="enums-tree-container"></div>

</div>