@model Web.ViewModels.Home.ReviewViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.IsWebpack = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/bundles/homeBundle.css" type="text/css" />

@section scripts{
    <script src="~/bundles/homeBundle.js"></script>
}

<div class="home-container">
    <div>Текущее число классов: @Model.CountOfClasses</div>
    <div>Текущее число признаков: @Model.CountOfProperties</div>
</div>